<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body>
		<form action='/createCountry'>
		
		<div class='properties'>

			<div>
				<div>Country Name</div>
				<div><input type='text' name="name"></div>
			</div>

			<div>
				<div>Capital</div>
				<div><input type="text" name="capital"></div>
			</div>

			<div>
				<div>Continent</div>
				<div><input type="text" name="continent"></div>
			</div>

			<div>
				<div>Area (Km<sup>2</sup>)</div>
				<div><input type="text" name="area"></div>
			</div>

			<div>
				<div>Top Level Domain (TLD)</div>
				<div><input type="text" name="tld"></div>
			</div>

			<div>
				<div>Population (Millions)</div>
				<div><input type="text" name="population"></div>
			</div>

			<div>
				<div>GDP (Million $)</div>
				<div><input type="text" name="gdp"></div>
			</div>

		</div>
	
		<input type="submit" name="submit" value="Create">

		</form>		

</form>
	</body>
</html>