{% extends "header.html" %}
		{% block content%}
		<div><h3>There are {{w|length}} countries</h3></div>
		<ul>
			{% for c in w %}
			<li><a href="/CountryName/{{c.name}}" style="text-decoration: none;">
			<img src='/static/flags/{{c.tld}}.gif' class='tiny'> {{c.name}}</a></li>
			{% endfor %}
		</ul>
		<br>
		<div class="allbutton">
		{% if page_number==0 %}
		<div class="allbutton">
			<a href="/begin/{{page_number-page_size}}"><button type="button" disabled>Previous</button></a>
		</div>
		
		{% else%}
		<div class="allbutton">
			<a href="/begin/{{page_number-page_size}}" ><button type="button">Previous</button></a>
		</div>
		
		{% endif %}

		{% if page_number>170 %}
		<div class="allbutton">
			<a href="/begin/{{page_number+page_size}}"><button type="button" disabled >Next Page</button></a>
		</div>
		{% else %}
		<div class="allbutton">
			<a href="/begin/{{page_number+page_size}}"><button type="button">Next Page</button></a>
		</div>
		{% endif %}
		<div class="allbutton">
			<a href="/createCountry/"><button type="button">Create</button></a>
		</div>
	</div>
	{% endblock %}