{% extends "header.html" %}
		{% block content%}
		
		<div class="bd">
		<h1>{{c['name']}}</h1>
		<div class='properties1'>
			<div>
				<div>Capital</div>
				<div>{{c['capital']}}</div>
			</div>
			<div>
				<div>Continent</div>
				<div><a href='../continent/{{c.continent}}'>{{c['continent']}}</a></div>
			</div>
			<div>
				<div>Population</div>
				<div>{{"{:,.0f}".format(c['population'])}}</div>
			</div>
			<div>
				<div>Area</div>
				<div>{{c['area']}}</div>
			</div>
			<div>
				<div>GDP (million $)</div>
				<div>{{ "{:,.0f}".format(c['gdp']/1000000) }}</div>
			</div>
			<div>
				<div>Top Level Domain</div>
				<div>{{c['tld']}}</div>
			</div>
		</div>
		
		<br><br>
		<div class="button">
				<a href="/">Back</a>
			</div>
			<div class="button">
				<a href="/delete/{{c.name}}">Delete</a>
			</div>
			<div class="button">
				<a href="/EditCountryName/{{c.name}}">Edit</a>
			</div>
			
		</div>	
			
{% endblock %}